<!DOCTYPE html>
<html>
    <head>
        <title>MellowSpace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <script src="static/js/scripts.js"></script>
    </head>
    <body>
        <header>
            <div class="heading"><h1 class="ms-title">MellowSpace</h1></div>
            <nav class="navbar">
                <a href="/" class="{% if request.endpoint == 'main.homepage' %}active{% endif %}">Home</a>
                <a href="/wellbeinglibrary"class="{% if request.endpoint == 'main.wellbeinglibrary' %}active{% endif %}">Wellbeing Library</a>
                <a href="/copingstrategies"class="{% if request.endpoint == 'main.copingstrategies' %}active{% endif %}">Coping Strategies</a>
                {% if current_user.is_authenticated %}
                    <a href="/mooddiary"class="{% if request.endpoint == 'main.mooddiary' %}active{% endif %}">Mood Diary</a>
                    <a href="/dashboard"class="{% if request.endpoint == 'main.dashboard' %}active{% endif %}">Dashboard</a>
                    <a href="/logout" class="active">Logout</a>
                {% else %}
                    <a href="/register"class="{% if request.endpoint == 'main.register' %}active{% endif %}">Register</a>
                    <a href="/login"class="{% if request.endpoint == 'main.login' %}active{% endif %}">Login</a>
                {% endif %}
            </nav>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
        <div class="footer">
            <div class="footer-left">
                <div class="footer-left-container">
                    <div class="footer-left-container-child">
                        <h3 class="footer-title">MellowSpace</h3>
                    </div>
                    <div class="footer-left-container-child">
                        <p class="footer-txt">Made to reduce the weight of emotions, one day at a time.</p>
                    </div>
                    <div class="footer-left-container-child">
                        <div class="icon-container">
                            <div class="icon-container-child">
                                <img class="instagram-logo" src="static/images/instagram-logo.png" alt="White instagram logo, image by pngtree.com">
                            </div>
                            <div class="icon-container-child">
                                <a class="instagram-txt" href="https://www.instagram.com/mellowspaceuk">@mellowspaceuk</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-left-container-child">
                        <div class="icon-container">
                            <div class="icon-container-child">
                                <img class="email-logo" src="static/images/email-logo.png" alt="White email logo, image by pngtree.com">
                            </div>
                            <div class="icon-container-child">
                                <a class="email-txt" href="mailto:mellowspaceuk@gmail.com">mellowspaceuk@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-box-1">
                    <p class="footer-right-title"><b>Features</b></p>
                    <p class="footer-txt"><a href="{{ url_for('main.register') }}">Mood Tracking</a></p>
                    <p class="footer-txt"><a href="{{ url_for('main.register') }}">Gratitude Journal</a></p>
                    <p class="footer-txt"><a href="{{ url_for('main.wellbeinglibrary') }}">Wellbeing Library</a></p>
                    <p class="footer-txt"><a href="{{ url_for('main.copingstrategies') }}">Coping Strategies</a></p>
                </div>
                <div class="footer-right-box-2">
                    <p class="footer-right-title"><b>Support</b></p>
                    <p class="footer-txt"><a href="mailto:mellowspaceuk@gmail.com">Contact Us</a></p>
                    <p class="footer-txt""><a href="{{ url_for('main.legal') }}">Legal & Regulatory</a></p>
                </div>
            </div>
        </div>
    </body>
</html>