{% extends "base.html" %}

{% block content %}
{% from "macros/coping-cards.html" import coping_card with context %}

<div class="coping-strategies-top-container">
    <h1 id="coping-strategies-title">Coping Strategies</h1>
    <p class="coping-strategies-paragraph">Everyone experiences difficult emotions from time to time. Coping strategies can help you manage stress, anxiety, overwhelm and other challenges in a healthy way. Explore the techniques below to find what works best for you.</p>
</div>
<h1 id="feelings-title">How are you feeling right now?</h1>
<div class="emotion-parent-container">
    <div class="emotion-child-container" data-emotion="anxious">
        <p class="emoji">😟</p>
        <h2 class="emoji-txt">Anxious</h2>
    </div>
    <div class="emotion-child-container" data-emotion="low">
        <p class="emoji">😔</p>
        <h2 class="emoji-txt">Low</h2>
    </div>
    <div class="emotion-child-container" data-emotion="stressed">
        <p class="emoji">😤</p>
        <h2 class="emoji-txt">Stressed</h2>
    </div>
    <div class="emotion-child-container" data-emotion="tired">
        <p class="emoji">😴</p>
        <h2 class="emoji-txt">Tired</h2>
    </div>
    <div class="emotion-child-container" data-emotion="angry">
        <p class="emoji">😡</p>
        <h2 class="emoji-txt">Angry</h2>
    </div>
    <div class="emotion-child-container" data-emotion="overwhelmed">
        <p class="emoji">😵</p>
        <h2 class="emoji-txt">Overwhelmed</h2>
    </div>
</div>
{% for emotion_key, emotion in coping_strategies.items() %}
<div
    id="{{ emotion_key }}"
    class="coping-section"
    data-emotions="{{ emotion.data_emotions }}"
>
    <h2 class="coping-title">
        {{ emotion.title }}
    </h2>
    {% if emotion.show_repeat_message %}
    <div class="repeat-box">
        <p class="repeat-txt">
            Repeat these techniques until the thoughts feel more manageable or until you're ready to try another technique.
        </p>
    </div>
    {% endif %}
    {% if emotion.remember_message %}
        <div class="coping-strategy-card reminder-card">
            <p class="coping-txt"><u>Remember</u> - Distraction skills are intended to provide temporary relief during difficult moments. Once emotions feel more manageable, it can be helpful to return to the situation and explore longer-term coping strategies.</p>
        </div>
    {% endif %}
    {% for group in emotion.groups %}
    <div class="strategy-group">
        <h2 class="coping-subtitle">
            {{ group.title }}
        </h2>
        <div class="strategy-grid">
            {% for strategy in group.strategies %}
                {{ coping_card(
                    strategy.title,
                    strategy.text,
                    strategy.id,
                    favourite_ids
                ) }}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}