{% extends "base.html" %}

{% block content %}
    <div id="homepage-container">
        <div class="homepage-container-child homepage-img-container">
            <div class="homepage-img-box">
                <img id="homepage-img" src="/static/images/alexander-grey-unsplash.jpg" alt="Image of a rainbow of sand">
            </div>
            <div class="homepage-img-box-2">
                <div class="homepage-img-txt-box">
                    <h2 id="homepage-img-txt">A space for you - made to reduce the weight of emotions, one day at a time.</h2>
                </div>
                <div class="homepage-btn-box">
                    <a href="{{ url_for('main.register') }}" id="get-started-btn">Get Started</a>                
                </div>
            </div> 
        </div>
        <div class="homepage-container-child homepage-notes-container">
            <div class="homepage-notes-child note-1">
                <div class="homepage-note-title">
                    <h2>Mood Diary</h2>
                </div>
                <div class="homepage-note-txt">
                    <p>Keep track of your emotions in a safe space.</p>
                </div>
            </div>
            <div class="homepage-notes-child note-2">
                <div class="homepage-note-title">
                    <h2>Wellbeing Library</h2>
                </div>
                <div class="homepage-note-txt">
                    <p>Access resources<br>and educational content.</p>
                </div>
            </div>
            <div class="homepage-notes-child note-3">
                <div class="homepage-note-title">
                    <h2>Coping Strategies</h2>
                </div>
                <div class="homepage-note-txt">
                    <p>Find techniques<br>that work for you.</p>
                </div>
            </div>
        </div>
        <div class="homepage-container-child why-mellowspace">
            <div class="homepage-note-title">
                <h2>Why MellowSpace?</h2>
            </div>
            <div class="homepage-note-txt">
                <p>Mental wellbeing is a journey, not a destination.<br>MellowSpace provides tools and resources designed to help you<br>reflect, learn and build healthy coping habits at your own pace.</p>
            </div>
        </div>
        <div class="homepage-container-child homepage-quote-box">
            <p class="homepage-quote-txt">“There is hope, even when your brain tells you there isn’t.”<br><b>John Green</b></p>
        </div>
    </div>
{% endblock %}