{% extends "base.html" %}

{% block content %}
<h1 id="mood-diary-title">Mood Diary</h1>
{% if month == 1 %}
    <h2 class="month-title">January</h2>
{% elif month == 2 %}
    <h2 class="month-title">February</h2>
{% elif month == 3 %}
    <h2 class="month-title">March</h2>
{% elif month == 4 %}
    <h2 class="month-title">April</h2>
{% elif month == 5 %}
    <h2 class="month-title">May</h2>
{% elif month == 6 %}
    <h2 class="month-title">June</h2>
{% elif month == 7 %}
    <h2 class="month-title">July</h2>
{% elif month == 8 %}
    <h2 class="month-title">August</h2>
{% elif month == 9 %}
    <h2 class="month-title">September</h2>
{% elif month == 10 %}
    <h2 class="month-title">October</h2>
{% elif month == 11 %}
    <h2 class="month-title">November</h2>
{% elif month == 12 %}
    <h2 class="month-title">December</h2>
{% endif %}
<div class="mood-layout">
    <div class="streak-container">
        <div class="current-streak-card">🔥{{ current_user.current_streak }} Day Streak</div>
        <div class="longest-streak-card">Longest Streak: 🔥 {{ current_user.longest_streak }}</div>
    </div>
    <div class="calendar-wrapper">
        <div class="calendar">
            {% for week in month_days %}
                {% for day in week %}
                    {% set mood = moods.get(day) %}
                    <div class="day {% if mood %}mood-{{ mood.score }}{% endif %}"
                    {% if mood %}
                        data-date="{{ day.strftime('%d %B %Y') }}"
                        data-score="{{ mood.score }}"
                        data-notes="{{ mood.notes or '' }}"
                        onclick="showMood(this)"
                    {% endif %}>
                        <div class="day-number">
                            {{ day.day }}
                        </div>
                        {% if mood %}
                            <div class="day-emoji">
                                {% if mood.score == 1 %}
                                😞
                                {% elif mood.score == 2 %}
                                😟
                                {% elif mood.score == 3 %}
                                😐
                                {% elif mood.score == 4 %}
                                🙂
                                {% elif mood.score == 5 %}
                                🥰
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="layout-spacer"></div>
</div>

<div id="mood-popup" class="mood-popup">
    <button type="button" class="close-btn" onclick="closePopup()">X</button>
    <h2 id="popup-date"></h2>
    <h3 id="popup-mood"></h3>
    <p id="popup-notes"></p>
</div>
 <form method="POST">
    {{ form.hidden_tag() }}
    <h2 class="mood-diary-subtitle">Rate Your Mood</h2>
    <div class="mood-container">
        {% for option in form.mood %}
        <label class="mood-card">
            {{ option(onchange="selectMood()") }}
            {% if option._value() == "1" %}
                <p>🔴<br>😞</p><br><h2>Very Low</h2>
            {% elif option._value() == "2" %}
                <p>🟠<br>😟</p><br><h2>Struggling</h2>
            {% elif option._value() == "3" %}
                <p>🟡<br>😐</p><br><h2>Okay</h2>
            {% elif option._value() == "4" %}
                <p>🟢<br>🙂</p><br><h2>Good</h2>
            {% elif option._value() == "5" %}
                <p>🩷<br>🥰</p><br><h2>Feeling Great</h2>
            {% endif %}
        </label>
        {% endfor %}
    </div>
    <div class="notes-container">
        <h2 class="notes-subtitle">Notes:</h2>
        {{ form.notes(class="notes-input", rows="6", placeholder="What's on your mind today?") }}
    </div>
    <div class="mood-submit-btn-container">
        {{ form.submit(id="mood-submit-btn", disabled=True) }}
    </div>
</form>
{% endblock %}